.Title-fade-appear {
    transform: translateX(-100%);
}

.Title-fade-appear-active {
    transform: translateY(0);
    transition: transform 500ms linear;
}

.ContactList-fade-enter {
    transform: translateX(-100%);
}

.ContactList-fade-enter-active {
    transform: translateX(0);
    transition: transform 250ms linear;
}

.ContactList-fade-exit {
    transform: translateX(0);
}

.ContactList-fade-exit-active {
    transform: translateX(-100%);
    transition: transform 250ms linear;
}

.InfoMessage-fade-enter {
    transform: translateX(100%);
}

.InfoMessage-fade-enter-active {
    transform: translateX(0);
    transition: transform 250ms linear;
}

.InfoMessage-fade-exit {
    transform: translateX(0);
}

.InfoMessage-fade-exit-active {
    transform: translateX(200%);
    transition: transform 250ms linear;
}
